# Ignore dataset and large files
dataset/
*.pt
*.pth
*.h5

# Ignore VS Code settings
.vscode/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore environment & dependency folders
env/
.venv/
env.bak/

# Ignore OS files
.DS_Store
Thumbs.db
